{% extends "base.html" %}
{% block title %}User Story Label Demo{% endblock %}
{% block content %}
    <h1>Label The User Story</h1>
    <form method="post">
        <div class="form-group">
            <label for="title">Please input your Title</label>
            <textarea class="form-control" id="title" name="title" rows="1">{{ title }}</textarea>
            <label for="prompt">Please input your User Story</label>
            <textarea class="form-control" id="prompt" name="prompt" rows="6">{{ prompt }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Label</button>
        </div>
    </form>

    <h3 class="title">Recommand User Stories By Fast Text</h3>

    {% for t in texts %}
        <div class="seifer-card">
            <div class="line">
                <p class="title">Title:</p>
                <p class="text">{{ t.title }}</p>
            </div>
            <div class="line">
                <p class="title">
                    User Story:
                </p>
                <p class="text">{{ t.body }}</p>
            </div>
            <div class="line">
                <p class="title">Similarity:</p>
                <p class="text">{{ t }}% </p>
            </div>
        </div>
    {% endfor %}

    
    <h3 class="title">Recommand User Stories By Seifer</h3>
    

    {% for f in name1 %}
        <div class="seifer-card">
                <div class="line">
                    <p class="title">Title:</p>
                    <p class="text">{{ f.title }}</p>
                </div>
                <div class="line">
                    <p class="title">
                        User Story:
                    </p>
                    <p class="text">
                        {{ f.body }}
                    </p>
                </div>
                <div class="line">
                    <p class="title">Similarity:</p>
                    <p class="text">{{ f.Score }}% </p>
                </div>
            </div>
    {% endfor %}
    <hr>
    <a href="https://fasttext.cc">[FastText]</a>
    <a href="https://openai.com/blog/better-language-models/">[GPT-2]</a>
{% endblock %}