{% extends "base.html" %}
{% block title %}User Story Label Demo{% endblock %}
{% block content %}
    <h1>Label The User Story</h1>
    <form method="post">
        <div class="form-group">
            <label for="title">Please input your Title</label>
            <textarea class="form-control" id="title" name="title" rows="1">{{ title }}</textarea>
            <label for="prompt">Please input your User Story</label>
            <textarea class="form-control" id="prompt" name="prompt" rows="6">{{ prompt }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Label</button>
        </div>
    </form>
    {% for t in texts %}
    <h2>Capability/Sub-Capability/Epic</h2>
    <div class="border" style="white-space: pre-line">{{ t }}</div>
    {% endfor %}

    <h2>Similar User Stories</h2>
    {% for f in name1 %}
<div class="border" style="white-space: pre-line">{{ f }} </div>
    {% endfor %}

    <hr>
    <a href="https://fasttext.cc">[FastText]</a>
    <a href="https://openai.com/blog/better-language-models/">[GPT-2]</a>
{% endblock %}