{% extends "base.html" %}
{% block title %}User Story Label Demo{% endblock %}
{% block content %}
    <h1>Label The User Story</h1>
    <form method="post">
        <div class="form-group">
            <label for="title">Please input your Title</label>
            <textarea class="form-control" id="title" name="title" rows="1">{{ title }}</textarea>
            <label for="prompt">Please input your User Story</label>
            <textarea class="form-control" id="prompt" name="prompt" rows="6">{{ prompt }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Label</button>
        </div>
    </form>

    <h2 class="title">Recommand User Stories By Fast Text</h2>

    <div class="seifer-card">
        <div class="line">
            <p class="title">Title:</p>
            
            <p class="text">Tag System recommend story 1</p>
        </div>
        <div class="line">
            <p class="title">
                User Story:
            </p>
            <p class="text">
                As a Reporting Lead, I need tosjhsdbfkhbsjkbksdhfbskjldjfbsnmdc,nkhiubfklkjahbfhkkljahbshfc evaluate what reports will not be built for this project, so that I can inform stakeholders of the impacts
            </p>

        </div>
    </div>

    {% for t in texts %}
        <div class="seifer-card">
                <div class="line">
                    <p class="title">Title:</p>
                    <p class="text">Tag System recommend story {{ loop.index }}</p>
                </div>
                <div class="line">
                    <p class="title">
                        User Story:
                    </p>
                    <p class="text">{{ t }}</p>
                </div>
            </div>
    {% endfor %}

    
    <h2 class="title">Recommand User Stories By Seifer</h2>
    

    {% for f in name1 %}
        <div style="white-space: pre-line">{{ f }} </div>

        <div class="seifer-card">
                <div class="line">
                    <p class="title">Title:</p>
                    
                    <p class="text">Out-of-Scope Reports</p>
                </div>
                <div class="line">
                    <p class="title">
                        User Story:
                    </p>
                    <p class="text">
                        As a Reporting Lead, I need tosjhsdbfkhbsjkbksdhfbskjldjfbsnmdc,nkhiubfklkjahbfhkkljahbshfc evaluate what reports will not be built for this project, so that I can inform stakeholders of the impacts
                    </p>
        
                </div>
                <div class="line">
                    <p class="title">Similarity:</p>
                    <p class="text">45.38%</p>
                </div>
            </div>
    {% endfor %}
    <hr>
    <a href="https://fasttext.cc">[FastText]</a>
    <a href="https://openai.com/blog/better-language-models/">[GPT-2]</a>
{% endblock %}